/* CSS PARA COSAS GENERALES */

:root {
  --topBar: rgb(52, 33, 33);
  --navBar: #ff673d;
  --bodyColor: rgb(245, 192, 154); /* color del contenido */

  --activeLi: #ff8f70; /* background del seleccionado (abierto) */
  --hoverLi: rgba(54, 201, 95, 0) /* background del seleccionado (cerrado) */;

  --activeParent: #ffd9ae  /* color del padre en hover */;
  --hoverLiClosed: #ffd9ae /* color de hijo en hover */;

  --topBarFont: #ff673d;
  --navBarFont: #ffd9ae;
  --fontNav: #ffb45e;
  --primaryColor: #ff673d;
  --iconColor: #ffb45e;

  
  --titleColor: rgb(153, 153, 153);
}

.primary-color{
  color: var(--primaryColor);
}

.primary-icon{
  color: var(--iconColor);
}

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  background: linear-gradient(45deg, rgba(254,204,255,1) 0%, rgba(206,124,255,0.75) 25%, rgba(208,171,255,1) 50%, rgba(133,136,255,0.75) 75%, rgba(3,73,255,1) 100%);
}

#root{
  height: 100dvh; /* UNIDAD DE MEDIDA QUE TOMA EN CUENTA EL VIEWPORT DEL DISPOSITIVO */
  -webkit-user-drag: none;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.no-drag{
  user-drag: none;
}

*::-webkit-scrollbar {
    display: none; /* EVITA QUE HAYA SCROLLBARS EN LA PÁGINA (USADO PARA EL SIDEBAR) */
}

#root, #root *{
    font-family: 'Poppins', sans-serif;
}

/* CSS PARA COSAS GENERALES */



/* CSS PARA EL TOP CONTAINER */

.topContainer{
    height: 4rem;
    min-height: 4rem;
    width: 100vw;
    background-color: var(--topBar);
    color: var(--topBarFont);
}

/* CSS PARA EL TOP CONTAINER */



/* CSS PARA EL HEIGHT DEL TOP CONTAINER Y EL MAIN CONTAINER (DEBEN SUMAR 100%) */

/* 
  BODY
    TOPCONTAINER
      STUFF
    MAINCONTAINER
      SIDEBAR
      CONTENT-CONTAINER
*/

.mainContainer {
    flex: 1;
}

/* CSS PARA EL HEIGHT DEL TOP CONTAINER Y EL MAIN CONTAINER (DEBEN SUMAR 100%) */



/* CSS PARA LOS ELEMENTOS INTERNOS DEL TOP CONTAINER */

.topContainer div {
  width: fit-content; 
}

.round { /* CSS PARA CIRCULO CON INICIALES DE USUARIO */
  width: 30px !important;
  height: 30px;
  border-radius: 100px;
  padding: 5px;
  background-color: #e1e1e1;
  color: #555555;
}

.round * { /* CSS PARA CIRCULO CON INICIALES DE USUARIO */
  font-size: 0.7rem;
  font-weight: bold;
  margin: auto;
}

.left *, .right * { 
    margin: auto;
}

#hamburguer, .topContainer button, button { /* CSS PARA BOTONES SIN ESTILO EN EL TOPBAR Y ESTILADO DE BOTONES EN SIDEBAR */
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  width: fit-content;
  color: var(--iconColor);
  display: inline-block;
}

.iconHiding {
  display: none;
}

#hamburguer {
    width: 75px;
    font-size: 1.4rem;
}

#hamburguer {
  color: var(--iconColor);
}

.paper {
  margin-left: 1rem;
  gap: 0.1rem;
}

.paper button{
  color: var(--topBarFont)
}

.topContainer h1 {
  font-size: 1.5rem;
  height: min-content;
  color: var(--topBarFont);
}


/* CSS PARA LOS ELEMENTOS INTERNOS DEL TOP CONTAINER */



/* CSS PARA LOS ELEMENTOS INTERNOS DEL SIDEBAR */

/* 
  SIDEBAR 
    WRAPPER
      UL
        LI
          A
            SVG
            SPAN
*/

.sideBar, .sideBar * {
    transition: all 0.5s ease;
}

.sideBar {
  background-color: var(--navBar);
  z-index: 1;
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* CSS PARA OCULTAR LOS SOBRESALIENTES DEL NAVBAR */
  overflow-y: scroll; /* CSS PARA SCROLL DEL NAVBAR VERTICALMENTE */
}

.wrapper { /* CSS PARA WRAPPER QUE CAMBIA DE TAMAÑO EN NAVBAR -- CERRADO */
  width: 300%;
  overflow: hidden;
}

.sideBar li { /* CSS PARA QUE ELEMENTOS DEL NAVBAR LLENEN EL ESPACIO HORIZONTAL */
  width: 100vw;
  display: flex;
}

.sideBar li.hide { /* CSS PARA ELEMENTOS DEL NAVBAR OCULTOS POR DEFECTO -- CERRADO-OCULTO */
  height:0px;
  transition-delay: 0.25s !important;
  /* -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease; */
  transition: all 0.5s ease;
}

.sideBar li button { /* CSS PARA LINKS DEL NAVBAR -- CERRADO-GENERAL */
    transition: color 0.1s ease;
    display: flex;
    align-items: center;
}

.sideBar li:not(.hide) button { /* CSS PARA LINKS DEL NAVBAR VISIBLES POR DEFECTO -- CERRADO-VISIBLE */
    height: 100% !important;
    width: 100%;
    color: var(--fontNav);
    overflow: hidden;
}

.sideBar li.hide button {
  width: 100%;
  transition: color 0.2s ease;
  color: var(--navBar);
}

.sideBar li .i { /* CSS PARA ICONOS DE ELEMENTOS DEL NAVBAR VISIBLES POR DEFECTO -- CERRADO-VISIBLE -- ABIERTO-VISIBLE */
  width: 25px !important;
  margin: 1.5rem;
  margin-right: 5rem;
}

.sideBar span { /* CSS PARA TEXTOS DEL NAVBAR VISIBLES POR DEFECTO -- CERRADO-VISIBLE */
  font-size: 1.1rem;
  text-align: left;
  display: inline-block;
}

.sideBar li:not(.hide) span {
  line-height: 1.5rem;
}

.sideBar li.hide .i {  /* CSS PARA ICONOS INVISIBLES DE ELEMENTOS DEL NAVBAR OCULTOS POR DEFECTO -- CERRADO-OCULTO -- ABIERTO-OCULTO */
  visibility: hidden;
}

.sideBar li.hide span { /* CSS PARA SUB TEXTOS DEL NAVBAR OCULTOS POR DEFECTO -- CERRADO-OCULTO */
  font-size: 0.9rem;
}

.isActive:not(.hide),
.hide.isActive ~ li:not(.hide) { /* CSS PARA HOVER DE ELEMENTOS DEL NAVBAR VISIBLES POR DEFECTO -- CERRADO-VISIBLE */ 
  background-color: var(--activeLi) !important;
}

.sideBar li:not(.hide):hover {
  background-color: var(--hoverLi);
}

.sideBar li:not(.hide):hover *,
.isActive:not(.hide) *,
.hide.isActive ~ li:not(.hide) * { /* CSS PARA HOVER DE LINKS DEL NAVBAR VISIBLES POR DEFECTO -- CERRADO */ 
  color: var(--navBarFont);
}

/* ELEMENTOS Y LINKS DEL NAVBAR ABIERTO ESTÁN DENTRO DE LOS MEDIA QUERIES */ 

div:not(.openList) .hide span{
  /* color: var(--navBar); */
  z-index: -10;
}

.open .openList li.hide { /* CSS PARA ELEMENTOS DEL NAVBAR OCULTOS POR DEFECTO -- ABIERTO-OCULTO */
  height: 2.5rem;
  transition-delay: 0.03s !important;
}

.open .openList li.hide button { /* CSS PARA LINKS DEL NAVBAR OCULTOS POR DEFECTO -- ABIERTO-OCULTO */
  transition-delay: 0.2s;
  color: var(--fontNav);
}

.open ul li:hover:not(.hide):not(.isActive) {
  background-color: var(--navBar) !important;
}


.open.sideBar ul li:hover:not(.hide):not(.isActive) span{
  color: var(--activeParent);
}

.open.sideBar ul li:hover:not(.hide):not(.isActive) path{
  color: var(--activeParent);
}

.open .isActive:not(.hide) { /* CSS PARA HOVER ELEMENTOS DEL NAVBAR VISIBLES POR DEFECTO -- ABIERTO-OCULTO */
  background-color: var(--hoverLiClosed);
}

.open ul li.hide:hover ~ li:not(.hide) span{
  color: var(--activeParent);
}

.open ul li.hide:hover ~ li:not(.hide) path{
  color: var(--activeParent) !important;
}

.open.sideBar .hide.isActive ~ li:not(.hide) { /* CSS PARA HOVER DE SUB ELEMENTOS DEL NAVBAR QUE ACTIVAN AL ELEMENTO PADRE -- ABIERTO-VISIBLE */
   background-color: var(--activeLi) !important;
}

.open.sideBar .hide.isActive ~ li:not(.hide) path {
  color: white !important; 
}

.open .hide.isActive ~ li:not(.hide) span {
  color: white !important; 
}

.open ul .hide:hover ~ li:not(.hide) button,
.open .hide.isActive ~ li:not(.hide) button { /* CSS PARA HOVER DE SUB ELEMENTOS DEL NAVBAR QUE ACTIVAN AL ELEMENTO PADRE -- ABIERTO-OCULTO */
  color: var(--navBarFont) !important;
}

.open .openList li.hide button:hover,
.open .openList .hide.isActive button { /* CSS PARA HOVER DE SUB LINKS DEL NAVBAR OCULTOS POR DEFECTO -- ABIERTO-OCULTO */
  transition: color 0s;
  color: var(--hoverLiClosed);
}

/* CSS PARA LOS ELEMENTOS INTERNOS DEL SIDEBAR */



/* CSS PARA LOS ELEMENTOS INTERNOS DEL CONTENIDO */

/* 
  CONTENT-CONTAINER
    CONTENT - 90%
    FOOTER - 10%
      1 - LEFT
      2 - CENTER
      3 - RIGHT
*/

.contentContainer {
    height: 100%;
    grid-template-rows: 90% 10%; /* CSS PARA TAMAÑOS DEL CONTENIDO Y EL FOOTER */
    overflow: scroll;
    background-color: var(--bodyColor);
    opacity: 100%;
    transition: all 1s ease;
}

.footer {
    width: 100%;
    align-items: center;
    grid-template-columns: 1fr 4fr 1fr;
}

/* CSS PARA LOS ELEMENTOS INTERNOS DEL CONTENIDO */



/* DESKTOP */

@media (min-width: 990px) {

    .mainContainer { /* CSS PARA QUE SIDEBAR EMPUJE CONTENIDO HACIA LA DERECHA */
        display: flex;
    }

    .sideBar {  /* CSS PARA QUE SIDEBAR EMPUJE CONTENIDO HACIA LA DERECHA */
        width: 80px;
        /* max-width: 250px; */
    }

    .contentContainer { /* CSS PARA REDEFINIR EL WIDTH DENTRO DEL FLEX PARENT */
        width: 100%;
    }

    .open { /* CSS PARA APERTURA DEL SIDEBAR */
        width: 32rem;
    }

    .open ul li .i { /* CSS PARA MOSTRAR TEXTOS EN EL SIDEBAR ABIERTO */
        margin-right: 1rem;
    }

    .sideBar li:not(.hide) span {
      max-width: 300px;
    }

    .desktop, .desktop * {  /* CSS PARA APARECER ELEMENTOS CLASE DESKTOP */
        display: inline-block;
    }

    .mobile, .mobile * { /* CSS PARA DESAPARECER ELEMENTOS CLASE MOBILE */
        display: none;
    }
}

/* DESKTOP */



/* MOBILE */

@media (max-width: 989px) {

    .topContainer button * {  /* CSS PARA DISMINUIR EL FONTSIZE DE BOTONES EN EL TOPBAR */
        font-size: 0.9rem !important;
    }

        
    .topContainer button,
    #hamburguer { /* CSS PARA DISMINUIR EL PADDING DE BOTONES EN TOPBAR */
        padding-inline: 1.2rem !important;
    }

    .topContainer h1 { /* CSS PARA DISMINUIR EL FONTSIZE DE H1 EN EL TOPBAR */
        font-size: 1rem;
    }

    .mainContainer { /* CSS PARA QUE SIDEBAR FLOTE SOBRE EL CONTENIDO DE LA DERECHA */
      display: grid;
      grid-template-columns: 55px auto; /* CSS PARA DEFINIR TAMAÑO DE SIDEBAR Y CONTENT-CONTAINER */
    }

    .sideBar li .i { /* CSS PARA DISMINUIR FONTSIZE Y MÁRGENES DE ICONOS EN SIDEBAR */
        margin: 1rem;
        margin-right: 5rem;
        font-size: 0.9rem;
    }

    .sideBar span { /* CSS PARA DISMINUIR FONTSIZE DE SPAN EN SIDEBAR */
        max-width: 160px;
        font-size: 0.7rem;
        text-overflow: ellipsis;
    }

    .sideBar .hide span { /* CSS PARA DISMINUIR FONTSIZE DE SPAN EN SIDEBA OCULTOS POR DEFECTO */
        font-size: 0.6rem !important;
    }

    .open { /* CSS PARA APERTURA DEL SIDEBAR */
        width: 380%;
    }

    .open .wrapper .i { /* CSS PARA MOSTRAR TEXTOS EN EL SIDEBAR ABIERTO */
        margin-right: 0.5rem;
    }

    .open + .contentContainer { /* CSS PARA OCULTAR CONTENIDO MIENTRAS SIDEBAR ABIERTO */
        opacity: 0.15;
    }
    
    .desktop, .desktop * {  /* CSS PARA DESAPARECER ELEMENTOS CLASE DESKTOP */
        display: none;
    }

    .mobile, .mobile * { /* CSS PARA APARECER ELEMENTOS CLASE MOBILE */
        display: inline-block;
    }

}

/* MOBILE */


.expedientes { 
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 3rem;
  padding-bottom: 0rem;
}

.expedientes .white-container {
  display: inline-block;
  background-color: white;
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.expedientes .title-holder{
  display: flex;
  width: 100%;
}

.expedientes .title {
  color: var(--titleColor);
  margin-bottom: 2rem;
}